<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dnote Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen bg-cover bg-center relative bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-200 p-6" style="background-image: url('/images/background.webp');">
<!-- Page Container -->
<div class="max-w-5xl mx-auto">
    <!-- Page Header with Toggle Button -->
    <div class="flex justify-between items-center bg-white dark:bg-gray-800 p-6 shadow-lg rounded-lg">
        <h1 class="text-3xl font-bold">To Do:</h1>
    </div>

    <!-- Error Message (if any) -->
    {% if error %}
    <p class="mt-4 text-red-500 dark:text-red-400">{{ error }}</p>
    {% else %}

    <!-- Table Container -->
    <div class="mt-6 overflow-x-auto bg-white dark:bg-gray-800 p-4 rounded-lg shadow-lg">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <!-- Table Header -->
            <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
                    #
                </th>
                <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
                    Needed By
                </th>
                <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
                    Content
                </th>
                <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
                    Book
                </th>
            </tr>
            </thead>
            <!-- Table Body -->
            <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
            {% for note in notes %}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
                    {{ note.usn }}
                </td>
                <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-300">
                    {{ note.dateAsString }}
                </td>
                <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-300">
                    {{ note.message }}
                </td>
                <td class="px-6 py-4 text-sm text-gray-500 dark:text-gray-300">
                    {{ note.book }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}
</div>

</body>
</html>