<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dnote Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen bg-cover bg-center relative bg-gray-100 text-gray-900"
      style="background-image: url('/images/lake.png');">
<!-- Page Container -->
<div class="min-h-screen bg-black bg-opacity-50">

    <div class="max-w-7xl mx-auto pt-24 pb-6">

        {% include "navbar.peb" %}

        <!-- Page Header -->
        <div class="flex justify-between items-center bg-white p-6 shadow-lg rounded-lg">
            <h1 class="text-3xl font-bold">To Do List</h1>
        </div>

        <!-- Error Message (if any) -->
        {% if error %}
        <p class="mt-4 text-red-500">{{ error }}</p>
        {% else %}

        <!-- Table Container -->
        <div class="mt-6 overflow-x-auto bg-white p-4 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold px-6 py-4">Here are the things you need to do:</h2>
            <table class="min-w-full divide-y divide-gray-200 table-fixed">
                <!-- Table Header -->
                <thead class="bg-gray-50">
                <tr>
                    <th scope="col"
                        class="px-6 py-3 w-2/12 hidden md:table-cell text-left text-base font-medium text-gray-500 uppercase tracking-wider">
                        Needed By
                    </th>
                    <th scope="col"
                        class="px-6 py-3 w-6/12 text-left text-base font-medium text-gray-500 uppercase tracking-wider">
                        Content
                    </th>
                    <th scope="col"
                        class="px-6 py-3 w-2/12 hidden lg:table-cell text-left text-base font-medium text-gray-500 uppercase tracking-wider">
                        Book
                    </th>
                    <th scope="col"
                        class="px-6 py-3 w-2/12 text-right text-base font-medium text-gray-500 uppercase tracking-wider">
                        Actions
                    </th>
                </tr>
                </thead>
                <!-- Table Body -->
                <tbody class="bg-white divide-y divide-gray-200">
                {% for note in notes %}
                {% if not note.isWaiting %}
                <tr>
                    <td class="px-6 py-4 hidden md:table-cell text-base text-gray-500 {{ (note.isOverdue) ? 'text-red-600 font-semibold' : 'text-gray-700' }}">{{ note.dateAsString }}</td>
                    <td class="px-6 py-4 text-base text-gray-500">{{ note.message }}</td>
                    <td class="px-6 py-4 hidden lg:table-cell text-base text-gray-500">{{ note.book }}</td>
                    <td class="px-6 py-4 text-base text-gray-500 text-right">
                        <div class="flex justify-end">
                            <a href="/edit/{{ note.uuid }}"
                               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Table Container -->
        <div class="mt-6 overflow-x-auto bg-white p-4 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold px-6 py-4">This is what you're waiting for other people to do:</h2>
            <table class="min-w-full divide-y divide-gray-200 table-fixed">
                <!-- Table Header -->
                <thead class="bg-gray-50">
                <tr>
                    <th scope="col"
                        class="px-6 py-3 w-2/12 hidden md:table-cell text-left text-base font-medium text-gray-500 uppercase tracking-wider">
                        Needed By
                    </th>
                    <th scope="col"
                        class="px-6 py-3 w-6/12 text-left text-base font-medium text-gray-500 uppercase tracking-wider">
                        Content
                    </th>
                    <th scope="col"
                        class="px-6 py-3 w-2/12 hidden lg:table-cell text-left text-base font-medium text-gray-500 uppercase tracking-wider">
                        Book
                    </th>
                    <th scope="col"
                        class="px-6 py-3 w-2/12 text-right text-base font-medium text-gray-500 uppercase tracking-wider">
                        Actions
                    </th>
                </tr>
                </thead>
                <!-- Table Body -->
                <tbody class="bg-white divide-y divide-gray-200">
                {% for note in notes %}
                {% if note.isWaiting %}
                <tr>
                    <td class="px-6 py-4 hidden md:table-cell text-base text-gray-500 {{ (note.isOverdue) ? 'text-red-600 font-semibold' : 'text-gray-700' }}">{{ note.dateAsString }}</td>
                    <td class="px-6 py-4 text-base text-gray-500">{{ note.message }}</td>
                    <td class="px-6 py-4 hidden lg:table-cell text-base text-gray-500">{{ note.book }}</td>
                    <td class="px-6 py-4 text-base text-gray-500 text-right">
                        <div class="flex justify-end">
                            <a href="/edit/{{ note.uuid }}"
                               class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif %}
    </div>
</div>

</body>
</html>